/*.card-body{
    flex:1 1 auto;
    padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color:var(--bs-card-color);
}
*/

body {
    background-color: #007AFF !important;
}

.container {
    min-height: 100vh;
    background-color: #007AFF /*!important*/;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    align-items: center;
    padding-top: 12px;
}


.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}


.bg-success, .bg-danger {
    color: white;
}

/*
.trophy {
    height: 100px;
}
*/

.tex-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

/*
.card-img-top {
    width: 50% !important;
}
*/

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}